<!DOCTYPE html>
<html ng-app="rikeFrontApp" ng-controller="MainCtrl"> 
  <head>
      <base href="/">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Kalz Fotografie</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">



  </head>
  <body ng-cloak>

      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css">
      <!--
      <link rel="stylesheet" type="text/css" href="/front/css/main.css">
      <link rel="stylesheet" type="text/css" href="/front/css/gallery.css">
      <link rel="stylesheet" type="text/css" href="/front/css/animations.css">
      <link rel="stylesheet" type="text/css" href="/front/css/category.css">
      -->
      <link rel="stylesheet" type="text/css" href="/front/css/rikeapp.min.css">

      <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300'>
      <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Julius+Sans+One'>

      <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-animate.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-touch.min.js"></script>

      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
      <script type="text/javascript" src="/front/js/ap.fotorama.min.js"></script>

      <!--
      <script type="text/javascript" src="/front/js/app.js"></script>
      <script type="text/javascript" src="/front/js/controllers/home-controller.js"></script>
      <script type="text/javascript" src="/front/js/controllers/gallery-controller.js"></script>
      <script type="text/javascript" src="/front/js/controllers/subcategory-controller.js"></script>
      <script type="text/javascript" src="/js/services.js"></script>
      -->
      
      <script type="text/javascript" src="/front/js/rikeapp.min.js"></script>


      <script>
        $(document).on('click','.navbar-collapse.in',function(e) {
            if( $(e.target).is('a') ) {
                $(this).collapse('hide');
            }
        });
      </script>

    <nav ng-cloak class="navbar navbar-default navbar-fixed-top" bs-navbar>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand small visible-xs-block" href="/#/">
            <img src="/front/img/logo.png">
          </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><img class="hidden-xs logo" src="/front/img/logo.png"></li>
              <li ng-class="{ active: isActive('/')}"><a href="/#/">Home</a></li>
              <li ng-repeat="cat in categories" ng-class="{ active: isActive('/show/{{cat.value}}')}"><a href="/#/show/{{cat.value}}">{{cat.value}}</a></li>
              <li ng-class="{ active: isActive('/Contact')}"><a href="/#/Contact">Contact</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <div ng-cloak class="view-container">
      <div class="container main-content view-frame" ng-view></div>
    </div>

    

  </body>
</html>