<!DOCTYPE html>
<html ng-app="rikeFrontApp" ng-controller="MainCtrl"> 
  <head>
      <base href="/">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Kalz Fotografie</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.css">-->
      <link rel="stylesheet" ng-href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css">
      <link rel="stylesheet" type="text/css" href="/front/css/main.css">
      <link rel="stylesheet" type="text/css" href="/front/css/gallery.css">
      <link rel="stylesheet" type="text/css" href="/front/css/animations.css">

      <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

  </head>
  <body ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" bs-navbar>
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand small visible-xs-block" href="/#/">
            <img src="/front/img/logo.png">
          </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><img class="hidden-xs logo" src="/front/img/logo.png"></li>
              <li ng-class="{ active: isActive('/')}"><a href="/#/">Home</a></li>
              <li ng-repeat="cat in categories" ng-class="{ active: isActive('/pics/{{cat.value}}')}"><a href="/#/pics/{{cat.value}}">{{cat.value}}</a></li>
              <li ng-class="{ active: isActive('/Contact')}"><a href="/#/Contact">Contact</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <div class="view-container">
      <div class="container main-content view-frame" ng-view></div>
    </div>

    <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-resource.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-route.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-animate.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-touch.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script type="text/javascript" src="/front/js/ap.fotorama.js"></script>

    <script type="text/javascript" src="/front/js/app.js"></script>
    <script type="text/javascript" src="/front/js/controllers/home-controller.js"></script>
    <script type="text/javascript" src="/front/js/controllers/gallery-controller.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>

  </body>
</html>