<link rel="stylesheet" type="text/css" href="/css/category.css">

<div ng-controller="SubcategoryCtrl">
  <div class="row">

    <div class="col-md-9">
      <div class="row">
        <h2 >Es gibt {{subcategories.length}} Unterkategorien in {{ubercategory}}</h2>
      </div>

      <div>
        <ul class="category-style">
          <li class="category-style" ng-repeat="subcategory in subcategories | filter:query">
            <p>
              {{subcategory.name}}
              <a ng-click="delCategory(subcategory)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
            </p>
          </li>
        </ul>
      </div>    
    </div>

    <div class="col-md-3">
      <h2>Unterkategorie Hinzufügen</h2>

      <div class="input-group" data-placement="bottom" data-animation="am-flip-x" bs-popover="popover">
        <input type="text" class="form-control" placeholder="Name..." ng-model="subcat">
        <span class="input-group-btn">
          <a type="submit" ng-click="addCategory(subcat, ubercategory)" class="btn btn-success"><i class="fa fa-plus"></i></a>
        </span>
      </div>

      <h2>Suchen</h2>
      <div class="form-group">
        <label>Filtern nach Name</label>
        <input type="text" class="form-control" placeholder="Text ..." ng-model="query"></input>
      </div>

    </div>

</div>