<!-- Meetups View -->
<link rel="stylesheet" type="text/css" href="/css/upload-gallery.css">
<div ng-controller="UploadCtrl">
  <div class="row">

    <div class="col-md-9">
 
      <h2>Du hast {{pics.length}} Bild(er) hochgeladen</h2>

      <div class="upload-gallery">
        <ul class="picture">
          <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 picture" ng-repeat="pic in pics">
            <img ng-src="../uploads/tmp/{{pic.filename}}" class="img-responsive thumbnail">
            <form>
              <div class="form-group">
                <label>Bildunterschrift</label>
                <input type="text" class="form-control" placeholder="Bildunterschrift ..." ng-model="pic.caption"></input>
              </div>
              <div class="form-group">  
                <label>Kategorie</label>
                <select class="form-control" ng-model="pic.category" ng-options="opt.value as opt.value for opt in categoryOptions"></select>
              </div>
              <div class="form-group">  
                <label>Unterkategorie</label>
                <select class="form-control" ng-model="pic.subcategory" ng-options="opt.name as opt.name for opt in subcategoryOptions"></select>
              </div>
              <div class="form-group">  
                <label>Vorschaubild</label>
                <input type="checkbox" ng-model="pic.isPreview" />
              </div>
              <div class="form-group">
                <a ng-click="addPicture(pic)" ng-disabled="!pic.category || !pic.subcategory" class="btn pull-right btn-success"><i class="fa fa-check"></i></a>
                <a ng-click="delPicture(pic)" class="btn pull-right btn-danger"><i class="fa fa-trash"></i></a>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">

      <h2>Bilder hinzufügen</h2>
      
        <form>
          <div class="form-group">
            <label>Kategorie für alle Bilder vorher festlegen (optional)</label><br>
            <select type="text" class="form-control" ng-model="category" ng-options="opt.value for opt in categoryOptions"></select>
          </div>
          <div class="form-group">
            <label>Unterkategorie für alle Bilder vorher festlegen (optional)</label><br>
            <select type="text" class="form-control" ng-model="subcategory" ng-options="opt.name for opt in subcategoryOptions" ng-disabled="noCategorySet"></select>
          </div>
          <div class="form-group">
            <label>Bild(er) von Festplatte wählen</label><br>
            <button class="btn btn-default pull-right" accept=".jpg,.png" ng-multiple="true" ng-file-select ng-file-change="upload($files)">Durchsuchen ...</button>
          </div>
        </form>

        <div ng-show="loader.loading" class="form-group">
          <div>Hochladen...</div>
          <div class="progress">
            <div class="progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{loader.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{loader.progress}}%">
              <span class="centered text-center" style="color:white">{{loader.progress}}%</span>
            </div>
          </div>
        </div>

  </div>
</div>