.gallery
ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.gallery
ul li {     
    list-style:none;
    margin-bottom:25px;    
}

.gallery
ul li img {
    cursor: pointer;
}

.delete-button {
    position: absolute;    
    right: 25px;
    top: 10px;
	border: 2px solid;
	width: 24px;
	height:24px;
    border-radius: 50%;
    opacity: 0.8;
}