<div ng-controller="SubcategoryCtrl">

  <div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-8">

	    <div class="category">
			<ul>
		    	<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 picture" ng-repeat="sub in subcategories">
		            <a href="/#/pics/{{sub.ubercategory}}/{{sub.name}}">
		            	<div class="background" style="background: url(/uploads/{{sub.preview}}); background-size: cover">
		            		<div class="overlay">
		            			{{sub.name}}
		            		</div>
		            	</div>
		            </a>
	            </li>
	        </ul>
	    </div>
      
    </div>

    <div class="col-lg-2"></div>

  </div>

</div>