.category
ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.category
ul li {     
    list-style:none;
    margin-bottom:25px;
}

.category
ul li img {
    cursor: pointer; 
    object-fit: cover;
}

.background {
	overflow: hidden;
	height: 100%;
  	background-size: cover;
  	background-repeat: no-repeat;
}

.overlay    {  
	background:rgba(0,0,0,.75);
   	text-align:center;
   	font-size: 2em;
   	height: 100%;
   	padding-top: 25%;
   	padding-bottom: 25%;
   	opacity: .75;
    -webkit-transition: opacity .2s ease;
	-moz-transition: opacity .2s ease;
}

.background:hover .overlay {
	background:rgba(0,0,0,.25);
    opacity: .5;
    
}