/**
 * Fotorama Custom Style
 */

.fotorama__arr {
    background: url(/front/img/arrows.png) no-repeat;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.fotorama__arr--next {
    background-position: -70px -40px;
}

.fotorama__arr--prev {
    background-position: -10px -40px;
}

.fotorama__thumb-border {
    border-color: #fff;
    background-image: linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1));
}

.fotorama__fullscreen-icon {
    width: 50px;
    height: 80px;
    background: url(/front/img/full-screen.png) no-repeat;
    background-position: 0px 0px;

}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background-position: 0px 0px;
}

.fotorama--fullscreen {
    background-color: #6e6f71;
}

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage {
    background-color: #6e6f71;
}