.gallery
ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.gallery
ul li {     
    list-style:none;
    margin-bottom:25px;
    
}

.gallery
ul li img {
    cursor: pointer;
}

.arrow {
    cursor: pointer;
    display: block;
    height: 100%;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    color: #fff;
    left: 20px;
    opacity: 0.4;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    color: #fff;
    opacity: 0.4;
    right: -10px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:0.8;
}
.arrow.next:hover{
    opacity:0.8;
}

.gallery-nav {
    bottom: -20px;
    display: block;
    height: 48px;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.gallery-nav li {
    border: 1px solid #AAAAAA;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}
.gallery-nav li.active {
    border: 1px solid #FFFFFF;
}
.gallery-nav li img {
    width: 100%;
}
.slider {
    height: 534px;
    margin: 20px auto;
    position: relative;
    width: 800px;
}
.slider img {
    max-height: 532px;
    max-width: 798px;
    border: 1px solid #fff;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}
