html, body {
	background-color: #6e6f71;
	color: #fff;
}

.main-content {
  padding-top: 70px;
}

.navbar-fixed-top {
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: #777;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: hidden !important;
}

.view-container {
  position: relative;
}

.container {
}

.centered {
    float: none;
    margin: 0 auto;
    display: block;
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        /*display: table-cell;*/ /* stretch links over whole width */
        display: inline-block;   /* no stretch */
        float: none;
        text-align: center;
    }
    .navbar > .container {
        text-align: center;
    }
    .collapse.navbar-collapse {
        width: auto;
        margin: 0 auto;
        clear: none;
    }
}